.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.DS_Store
data/raw
data/prepped/outgoing
data/prepped/NorWeST_temps.dbf
data/prepped/NorWeST_temps.prj
data/prepped/NorWeST_temps.shp
data/prepped/NorWeST_temps.shx
data/prepped/champ_frame_data.csv
RepoDesign.txt
inst/doc
output/shapefiles
output/gpkg