.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.DS_Store
~$*
RepoDesign.txt
inst/doc

data/raw

data/prepped/*.gpkg
data/prepped/outgoing
data/prepped/NorWeST_temps.dbf
data/prepped/NorWeST_temps.prj
data/prepped/NorWeST_temps.shp
data/prepped/NorWeST_temps.shx
data/prepped/champ_frame_data.csv
data/prepped/200m_reaches/

output/shapefiles/
output/gpkg/



